@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Finance App</h1>
    <p class="lead">Your personal finance management tool</p>
    <button class="btn btn-primary">Get Started</button>
    <script>
        document.querySelector('.btn').addEventListener('click', () => {
            window.location.href = '/Expenses/Overview';
                }); 
    </script>
</div>
